* {
    margin: 0;
    padding: 0;
  }
  .App {
    font-family: sans-serif;
    text-align: left;
    background: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3 {
    display: inline;
  }
  p {
    padding: 5px 0px;
    font-size: 12px;
  }
  .img-container {
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px #e2e2e2;
    display: grid;
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
  